/**********************************

Use: Main Screen Import

***********************************/

@import "reset.css";
@import "core.css";

@import "cmxformTemplate.css";
@import "cmxform.css";

label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}

span.ui-icon-closethick {
    display:none;
}

#mask{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
    top:0;
    left:0;
    display:none;
}
#mask span {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -25px;
    color: #FFFFFF;
    font-size:18px;
}​
html,body { height: 100%; margin: 0px; padding: 0px; }

#filter-div {
    height:100%;
    width:30%;
    float:left;
    margin-top:10;
    margin-left:10;
    margin-right:10;
    border:1px;
    border-radius:2px;
}

#filter-div form {
    width:100%;
}

#filter-div form table {
    width:100%;
    margin-bottom:5px;
}

#grid-div {
    height:100%;
    width:64%;
    float:right;
    margin-top:10;
    border:1px;
    border-radius:2px;
}

#grid-div table {
    width:98%;
     
}

tr {
    margin-bottom:2px;
}

#user-detail-div {
    width:98%;

}
#user-detail-div table{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
}

#user-detail-div td.tdLabel {
    background-color:#5C9CCC;
}