/**********************************

Use: Main Screen Import

***********************************/

@import "reset.css";
@import "core.css";

@import "cmxformTemplate.css";
@import "cmxform.css";

label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}